.Ambul
    display: flex
    justify-content: left
    align-items: center
    gap: 20px
    flex-direction: row
    font-family: 'Roboto', sans-serif	
    font-weight: 700    
    margin-top: 10px
    margin-bottom: 10px 
    .H3
        font-size: 50px
        color: #448ccc



    .Forms
        display: flex
        flex-direction: column
        border: 1px solid white
        border-radius: 5px
        font-size: 20px
        padding: 5px    
        margin: 5px
        width: 400px
        height: 450px
        overflow: hidden
        background: #448ccc
        box-shadow: 0 0 10px #000000
    
    .Formulario
        font-family:  Roboto, sans-serif
        display: flex
        flex-direction: column
        gap: 10px
        padding: 5px    
        margin: 5px
        width: 500px
        height: 250px
        overflow: hidden

    .PlacaA
        color: white 
        font-family: 'Roboto', sans-serif
    //input
    .PlA
        height: 10rem
        width: 300px

    .NombreC
        color: white

    .NomC
        height: 10rem
        width: 300px

    .Sucursales
        color: white

    .Selectores
        height: 10rem
        width: 310px

    .Boton
        background: #00008b
        width: 125px
        height: 10rem
        border: none
        border-radius: 5px
        padding: 5px
        margin: 5px
        color: white
        
        &:hover
            background: #00008B
            transition: all 200ms ease-in-out   
            cursor: pointer
           


        
