.Ambul
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 2rem
    .Ambulancias_right
        border-radius: 1rem
        background-color: #448ccc
        padding: 1rem
        width: 30%
        justify-content: center
        align-items: center
        
        .ambulancias__form
            display: flex
            flex-direction: column
            gap: 2rem
            min-width: 300px
            
            
            label
                color: white
                display: flex
                flex-direction: column
                font-size: 1.5rem
                font-weight: bold
                input
                    margin: 0.5rem 0
                    height: 2rem
                    font-size: 1rem
                
            button
                    background: #488ccc
                    width: 125px
                    height: 75px
                    border: 2px solid white
                    border-radius: 5px
                    padding: 5px
                    margin: 0 auto
                    font-size: 1.3rem
                    cursor: pointer
                    color: white                  
                    &:hover
                        background: #00008B
                        transition: all 200ms ease-in-out
    .Ambul__left
       h2
        color: #448ccc
        font-size: 40px

   

