.Home
    display: flex
    justify-content: center
    align-items: center

    .Botones
        display: flex
        flex-direction: column
        a
            color: white
            text-decoration: none
        button
            border-radius: 1rem
            display: flex
            justify-content: center
            background-color: #448ccc
            padding: 50px
            margin: 10px
            border: none
            width: 500px
            font-size: 25px
            padding: 0 auto
            color: white
            cursor: pointer
           
            &:hover
                background: #00008B
                transition: all 200ms ease-in-out
                

