.Nav
    display: flex
    .Titulo
        width: 500px
        font-size: 50px
        font-family: 'Roboto', sans-serif	
        font-weight: 700
        color: #448ccc
        margin-top: 10px
        margin-bottom: 10px 
    .Ambu
        background: #448ccc
        
        border: none
        border-radius: 5px
        padding: 5px
        margin: 5px
        a
            color: white
            text-decoration: none
        
    .Condu
        background: #448ccc
        border: none
        border-radius: 5px
        padding: 5px
        margin: 5px
        a
            color: white
            text-decoration: none

    
