.Nav
    display: flex
    justify-content: space-between
    .LogoI
        display: flex
    .Titulo
        width: 200px
        font-size: 50px
        font-family: 'Roboto', sans-serif	
        font-weight: 700
        color: #448ccc
        margin-top: 10px
        margin-bottom: 10px
        text-decoration: none
    
    .Logo
        width: 60px
        height: 60px
        padding-left: 10px
        padding-top: 10px

    .BotonesNav
        display: flex
        justify-content: right
        
        button
            background: #448ccc
            border: 1px solid white
            width: 125px
            height: 75px
            border: none
            border-radius: 5px
            padding: 5px
            margin: 5px
            &:hover
                background: #00008B
                transition: all 200ms ease-in-out
            a
            color: white
            text-decoration: none
            cursor: pointer
    
    

      
